{% extends 'base.html' %}

{% block body %}
        {% for postagem in postagens %}
            {% if postagem.author_id == perfil_logado.id %}
                <h1>{{ postagem.title }}</h1>
                <h4>{{ postagem.author }}</h4>
                <p>{{ postagem.published_date }}</p>
                <p>{{ postagem.id }}</p>
                <a>Excluir</a>
            {% else %}
                <h1>{{ postagem.title }}</h1>
                <h4>{{ postagem.author }}</h4>
                <p>{{ postagem.published_date }}</p>
                <p>{{ postagem.id }}</p>

            {% endif %}

        {% endfor %}

    <div>
        <a href="{% url 'criar_post' %}">Criar postagem</a>
    </div>

{% endblock %}