{% load staticfiles %}
{% load i18n %}

<!doctype html>
<html lang = "pt-br">
	<head>
		<meta charset="utf-8">
		<title>ConnectedIn</title>
		<link rel="stylesheet" 
			 href="{% static 'styles/bootstrap.css' %}">
		<link rel="stylesheet" 
			 href="{% static 'styles/main.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="{% static 'scripts/bootstrap-confirmation.min.js' %}"></script>
	</head>
	<body>
		<div class="container">
			<div class = "header">
				<ul class = "nav nav-pills pull-right">
					<li><a href = "{% url 'index' %}">{{ perfil_logado.nome }}</a></li>
					<li><a href = "/logout/">Logout</a></li>
                    <li><a href="{% url 'pesquisar_user'%}">Pesquisar Usuário</a> </li>
                    <li><a href="{% url 'listaUser'%}">Listar Usuário</a> </li>
				</ul>
				<h3 class = "text-muted">ConnectedIn</h3>
			</div>
			
			<div class="row content">
				{% block body%}
				{% endblock %}				
			</div>		
		</div>	
	</body>
</html>