{% extends 'base.html' %}
{% block body %}
    <div class="col-lg-4">
        <div class="card w-75">
            <div class="card-body">
                <h2 class="card-title">{{ perfil.nome }}</h2>
                <p class="card-text">
                <address>
                    Email: <a href="mailto:{{ perfil.email }}">{{ perfil.email }}</a>
                    <br>
                    Empresa: <strong>{{ perfil.nome_empresa }}</strong>
                </address>

                </p>
                {% if perfil in perfil_logado.contatos.all %}
                    <a href="{% url 'desfazer' perfil.id %}">Desfazer amizade</a>
                {% else %}
                    <a href="{% url 'convidar' perfil.id %}">Enviar solicitação de amizade</a>
                {% endif %}
                {% if perfil in perfil_logado.contatos_bloqueados.all %}
                    <a href="#" data-toggle="modal" data-target="#confirm">Desbloquear</a>
                    <div class="modal fade" id="confirm" role="dialog">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p> Deseja realmente desbloquar o usuario?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'desbloquear' perfil.id %}" type="button"
                                       class="btn btn-danger" id="bloqueio">Desbloquear</a>
                                    <button type="button" data-dismiss="modal" class="btn btn-default">
                                        Cancelar
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                {% else %}
                    <a href="#" data-toggle="modal" data-target="#confirm">Bloquear</a>
                    <div class="modal fade" id="confirm" role="dialog">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p> Deseja realmente bloquear o usuario?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'bloquear' perfil.id %}" type="button"
                                       class="btn btn-danger" id="bloqueio">Bloquear</a>
                                    <button type="button" data-dismiss="modal" class="btn btn-default">
                                        Cancelar
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endif %}
                {% if perfil_logado.usuario.is_superuser and not perfil.usuario.is_superuser %}
                    <a href="{% url 'promover_super_user' perfil.id %}">Promover a super usuario</a>
                {% elif perfil_logado.usuario.is_superuser and  perfil.usuario.is_superuser  %}
                    <a href="{% url 'despromover_super_user' perfil.id %}">Despromover super usuario</a>
                {% endif %}
            </div>
        </div>


    </div>
    <div class=" col-lg-4 timeline">
        {% if perfil_logado.usuario.is_superuser %}
            {% for postagem in postagens %}
                <div class="card">
                    <div class="card-header">
                        <p>{{ postagem.title }}</p>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ postagem.text }}</p>
                            <footer class="blockquote-footer">{{ postagem.published_date }}<cite
                                    title="Source Title">{{ postagem.author }}</cite></footer>
                        </blockquote>
                        <button type="button" class="btn btn-info btn-sm float-right " data-toggle="modal"
                                data-target="#confirm">Excluir
                        </button>
                        <div class="modal fade" id="confirm" role="dialog">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p> Deseja realmente excluir a postagem?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'excluir_postagem' postagem.id %}" type="button"
                                           class="btn btn-danger" id="delete">Excluir</a>
                                        <button type="button" data-dismiss="modal" class="btn btn-default">
                                            Cancelar
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            {% for postagem in postagens %}
                {% if postagem.author_id == perfil_logado.id %}
                    <div class="card">
                        <div class="card-header">
                            <p>{{ postagem.title }}</p>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>{{ postagem.text }}</p>
                                <footer class="blockquote-footer">{{ postagem.published_date }}<cite
                                        title="Source Title">{{ postagem.author }}</cite></footer>
                            </blockquote>
                            <button type="button" class="btn btn-info btn-sm float-right " data-toggle="modal"
                                    data-target="#confirm">Excluir
                            </button>
                            <div class="modal fade" id="confirm" role="dialog">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <p> Deseja realmente excluir a postagem?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'excluir_postagem' postagem.id %}" type="button"
                                               class="btn btn-danger" id="delete">Excluir</a>
                                            <button type="button" data-dismiss="modal" class="btn btn-default">
                                                Cancelar
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                {% else %}
                    <div class="card">
                        <div class="card-header">
                            <p>{{ postagem.title }}</p>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>{{ postagem.text }}</p>
                                <footer class="blockquote-footer">{{ postagem.published_date }}<cite
                                        title="Source Title">{{ postagem.author }}</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}
    </div>

    <div class="col-lg-4">
        <div class="card w-75 pb-2">
            <div class="card-body">
                <h2 class="card-title">Chat</h2>
                <form class="form-signin" action="{% url 'send_message' perfil.id %}" method="post">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2 mb-2" name="message" type="text" placeholder="Insira uma mensagem..." aria-label="Search">

                    <button type="submit" class="btn btn-info btn-sm mt-2 float-right " data-toggle="modal"
                            data-target="#confirm">Enviar
                    </button>

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <button type="button" class="close"
                                    data-dismiss="alert" aria-hidden="true">
                            </button>
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                </form>
            </div>
            {% for msg in mensagens %}
                {% if msg.remetente_id == perfil_logado.id %}
                    <div class="card mr-3 ml-3 mt-1 mb-2">
                        <div class="card-header align-item-right bg-dark">
                            <p class="text-white float-right p-0 m-0">Você</p>
                            <div class="w-100 float-right">
                            <i><p style="font-size: 12px;" class="float-right text-white w-5 p-0 m-0">12:08</p></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text float-right">{{ msg.mensagem }}</p>
                        </div>
                    </div>
                {% elif msg.remetente_id == perfil.id %}
                    <div class="card mr-3 ml-3 mt-1 mb-2">
                        <div class="card-header" style="background-color: #63424d;">
                            <p class="text-white p-0 m-0">{{ msg.remetente.nome }}</p>
                            <i><p style="font-size: 12px;" class="text-white p-0 m-0">12:08</p></i>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ msg.mensagem }}</p>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>

{% endblock %}		