{% extends 'base.html' %}


{% block body %}
    <div class="col-lg-12">
        {% if usuarios.exists %}
            {% for usuario in usuarios %}
                {% if usuario in contatos %}
                    <div class="card">
                      <div class="card-header">
                          Vocês já são amigos. Parabéns!!!! :)
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">{{ usuario.nome }}</h5>
                        <p class="card-text">{{ usuario.nome_empresa }}</p>
                        <p class="card-text">{{ usuario.email }}</p>
                          {% if usuario.ativo == True %}
                              <p>Perfil Ativo</p>
                          {% else %}
                              <p>Perfil desativado</p>
                          {% endif %}
                      </div>
                    </div>
                {% elif perfil_logado in usuario.contatos_bloqueados.all %}
                    <div class="card">
                      <div class="card-header">
                          Usuário não encontrado :-(
                      </div>
                      <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        <p class="card-text"></p>

                      </div>
                    </div>

                {% else %}
                    <div class="card">
                      <div class="card-header">
                          Vocês ainda não são amigos. Vamos convidar? :)

                      </div>
                      <div class="card-body">
                        <h5 class="card-title">{{ usuario.nome }}</h5>
                        <p class="card-text">{{ usuario.nome_empresa }}</p>
                        <p class="card-text">{{ usuario.email }}</p>
                          {% if usuario.ativo == True %}
                              <p>Perfil Ativo</p>
                          {% else %}
                              <p>Perfil desativado</p>
                          {% endif %}
                        <a href = "{% url 'convidar' usuario.id %}" class="btn btn-primary">Convidar</a>

                      </div>
                    </div>
                {% endif %}

            {% endfor %}
            {% else %}
                <div class="card">
                  <div class="card-header">
                      Usuário não encontrado :-(
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"></p>

                  </div>
                </div>

        {% endif %}
    </div>
{% endblock %}